<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         convertWarningsToExceptions="true"
         failOnWarning="true"
         failOnRisky="true"
>
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="MockInjector Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>dummy</group>
    </exclude>
  </groups>
</phpunit>
