version: 2.1

orbs:
  ci: bigcommerce/internal@volatile
  php: bigcommerce/internal-php@volatile

workflows:
  version: 2
  full:
    jobs:
      - php/phpunit-tests:
          e:
            name: php/php
            php-version: <<matrix.php-version>>
          matrix:
            parameters:
              php-version: [ "7.4-fpm", "8.0-fpm" ]
